[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
boto3 = "*"
mypy = "*"
aws-lambda-powertools = {extras = ["aws-sdk", "parser"], version = "*"}
simplejson = "*"
boto3-stubs = {extras = ["cognito-idp", "dynamodb", "events", "s3", "sqs", "sts", "lambda"], version = "*"}
black = "*"
types-simplejson = "*"
isort = "*"
pytest = "*"
moto = "*"
click = "*"
rich = "*"
pytest-dotenv = "*"
pytest-xdist = "*"
requests = "*"
requests-mock = "*"
cryptography = "*"
pytest-cov = "*"
pycryptodome = "*"
pyjwt = "*"
types-requests = "*"
pytest-mock = "*"

[requires]
python_version = "3.11"
